{# app/Resources/views/default/add.html.twig #}
{#{% extends 'base.html.twig' %}#}
<link rel="stylesheet" href="{{ asset('dist/css/bootstrap.min.css') }}" />
<script src="{{ asset('dist/js/jquery.min.js') }}"></script>
<script src="{{ asset('dist/js/bootstrap.min.js') }}"></script>

{% block body  %}

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% endblock %}

<a href="{{ path('nh_exercice_homepage') }}">
    Retour à la liste des articles
</a>

{#<a href="{{ path('nh_exercice_edit', {'id': task.id}) }}" class="btn btn-default">
    <i class="glyphicon glyphicon-edit"></i>
    Modifier l'article
</a>#}
