{# app/Resources/views/default/valid.html.twig #}
{#{% extends 'base.html.twig' %}#}
<a href="{{ path('nh_exercice_formulaire')}}">
    Ajouter un article
</a>
{% block body  %}
    {% block stylesheets %}
        {#on charge le CSS de Bootstrap depuis le site #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% endblock %}
    <h1>Liste des articles</h1>

{% for task in tasks %}

<span class="css">
    <p> Image : {{ task.image }} </p>
    <p> Titre : {{ task.titre }} </p>
    <p> Article : {{ task.task }}</p>
    <p> Date : {{ task.date | date('d-m-Y') }}</p>
    <hr>
    </span>

{% endfor %}

{% endblock %}