{# app/Resources/views/default/valid.html.twig #}
{#{% extends 'base.html.twig' %}#}
<a href="{{ path('nh_exercice_add')}}">
    Ajouter un article
</a>
{% block body  %}

    <h1>Liste des articles</h1>

{% for task in tasks %}

<span class="css">
    <p> Image : {{ task.image }} </p>
    <p> Titre : {{ task.titre }} </p>
    <p> Article : {{ task.task }}</p>
    <p> Date : {{ task.date | date('d-m-Y') }}</p>
    <hr>
    <a href="{{ path('nh_exercice_delete', {'id' : task.id})}}">
    Supprimer un article</a>

    <a href="{{ path('nh_exercice_edit', {'id' : task.id})}}">
    Modifier un article</a>

    </span>

{% endfor %}

{% endblock %}
